################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoadDWVentas/FileContentIndex/c4865c2d-9d2b-4500-9ce4-0b34d80e12e7.vsidx
